body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f9;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 800px;
  margin: auto;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

header {
  text-align: center;
  padding-bottom: 20px;
}

.logo {
  width: 200px;
}

.search {
  margin-bottom: 20px;
}

.search label {
  font-size: 1.2em;
  color: #333;
}

#datePicker {
  font-size: 1em;
  padding: 5px;
  margin-left: 10px;
}

.data-display h2 {
  color: #333;
  border-bottom: 2px solid #ddd;
  padding-bottom: 5px;
}

.data-display div {
  margin-top: 10px;
  padding: 10px;
  background-color: #e9e9e9;
  border-radius: 5px;
}

.data-item {
  padding: 10px;
  border-bottom: 1px solid #ddd;
}

.data-item:last-child {
  border-bottom: none;
}

footer {
  margin-top: auto;
  padding: 20px 0;
  background-color: #f4f4f9;
  text-align: center;
  border-top: 1px solid #ddd;
}

footer a {
  color: #0073e6;
  text-decoration: none;
}

footer a:hover {
  text-decoration: underline;
}